* text=auto eol=lf
*.cs text eol=lf
*.csproj text eol=lf
*.ps1 text eol=lf
*.py text eol=lf
*.md text eol=lf
*.json text eol=lf
*.yml text eol=lf
*.lua text eol=lf
*.blend binary
*.png binary
*.rgba binary
